html {
    font-family: "Arial Black", Gadget, sans-serif;
}
.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 12px;
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px
}

.node:not(:hover)
.nodetext {
  display: none;
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}